*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
  padding-bottom: 23px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
}

.result__video-container {  
  position: relative;
  margin-bottom: 17px;
  height: 386px;
  width: 711px;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: end;
  width: 1200px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: flex;
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 389px;
}

.content__video-card-thumbnail {
  display: flex;
  height: 103px;
  width: 197px;
  object-fit: cover;
  object-position: center;
  padding-left: 3px;
  flex-shrink: 0;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  line-height: 200%;
  flex-grow: 5;
  color: white;  
  overflow: hidden;   
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;  
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px; 
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  color:#fff;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.button {
  height: 34px;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #fff;
  cursor: pointer
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}


.more-button {
  width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}

.search-form__fieldset {
  width: 225px;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 4px;
}

.search-form__label {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;;
  width: 225px;
  height: 27px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 205px;
}
